* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body {
    background: #081b29;
    color: #ededed;
}
.logo{
    font-size: 43px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.heder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10% ;
}

.home-content {
    max-width: 900px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 2.2;
    color: #00abf0;
}

.navbar a:hover, 
.navbar a.active {
    color: #00abf0;
}

p {
    height: 10.4cm;
font-family: f;
font-weight: 700;
font-size: 19px;
}

